<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, id: :project_introduction %>
  </div>

  <div class="field">
    <%= form.label :charge%>
    <%= form.text_area :charge, id: :project_charge%>
  </div>

  <div class="field">
    <%= form.label :sponsor %>
    <%= form.text_area :sponsor, id: :project_sponsor %>
  </div>

  <div>
    <%= form.label :team_id %>
    <%= form.collection_select(:team_id, Team.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
